%section.masthead.jumbotron
  .container
    .row.text-center
      %h1 Crossfit Rocky
      %h4 Forging Elite Fitness
      .col-sm-12
        =image_tag "home-page-hero.jpg", class: "hero img-responsive"
%hr
%section#wod
  .container
    .row.text-center
      .col-sm-offset-1.col-sm-10
        %h2 WOD
        .jumbotron.for-wod
          %h3= Time.now.strftime "%A %B %d, %Y"
          %hr
          %h5 AMRAP15:
          %h4 10 x Burpees
          %h4 5 x Squat Clean
          %h4 1 x Jerk

%hr
%section#about
  .container
    .row.text-center
      .col-sm-offset-1.col-sm-10
        .row
          %h2 CONSTANTLY VARIED
          .col-sm-4.text-left
            =image_tag "greg_oh.png", class: "img-responsive"
            %h4 What is CrossFit?
            %p CrossFit is the principal strength and conditioning program for many police academies and tactical operations teams, military special operations units, champion martial artists, and hundreds of other elite and professional athletes worldwide.
            .text-center
              = link_to "CFMAINSITE", "http://www.crossfit.com", :target => "_blank", class: "btn btn-primary btn-sm"
            %br
          .col-sm-4.text-left
            =image_tag "doug_tire_pull.jpg", class: "img-responsive"
            %h4 Functional Fitness
            %p At CFR, our goal is to deliver a broad, general, and inclusive fitness. Your results are observed and measured every workout with the objective of increased work capacity across broad time and modal domains. What does this mean? It means obtaining a fitness with measurable results while improving your ability to finish any physical task quicker and better than ever before.(Tested and proven!) 
          .col-sm-4.text-left
            =image_tag "meagan.png", class: "img-responsive"
            %h4 Be Ready For Life's Challenges
            %p Training Constantly varied skills and drills from gymnastics, metabolic conditioning, and Olympic Weightlifting, you will obtain functional strength and an athletic skill set which will prepare you for any of life's physical challenges. 

        .divider
          .row.text-center
            .col-sm-offset-1.col-sm-10
              %hr
             
        .row
          %h2 HIGH INTENSITY
          .col-sm-6.text-left
            =image_tag "brian_row.jpg", class: "img-responsive"
            %h4 Fitness Domains
            %p We now know that fitness is not just your ability to run for extended periods or lift a heavy weight, but a fine tuned balance of 10 overall fitness domains: Cardiovascular & respiratory endurance, stamina, strength, flexibility, power, speed, coordination, agility, balance, and accuracy. 
          .col-sm-6.text-left
            =image_tag "stan_front_rack.jpg", class: "img-responsive"
            %h4 Unlocked Potential
            %p We will train and challenge each of the ten fitness domains for an inclusive fitness that prepares each individual for both the known and unknowable that sport and life present. We view every person as an athlete and it is our goal for each individual to unlock their own athletic potential, and to achieve their highest capacity for work and best possible expression of human form.

%section.divider
  .container
    .row.text-center
      .col-sm-offset-3.col-sm-6
        %hr
 
%section
  .container
    .row.text-center
      .col-sm-offset-1.col-sm-10
        .row
          %h2 FUNCTIONAL MOVEMENTS
          .col-sm-offset-1.col-sm-10.clearfix
            #carousel-example-generic.carousel.slide{ data: { ride: "carousel"} }
              %ol.carousel-indicators
                %li.active{ data: {target: "#carousel-example-generic", "slide-to" => "0" }}
                %li{ data: {target: "#carousel-example-generic", "slide-to" => "1" }}
                %li{ data: {target: "#carousel-example-generic", "slide-to" => "2" }}

              .carousel-inner{ role: "listbox" }
                .item.active
                  =image_tag "wallballs.jpg"
                .item
                  =image_tag "muscle_up_crop.jpg"
                .item
                  =image_tag "dustin_medals_crop.jpg"

%section.divider
  .container
    .row.text-center
      .col-sm-offset-1.col-sm-10
        %hr

%section#coaches
  .container
    .row.text-center
      .col-sm-offset-1.col-sm-10
        .row
          %h2 COACHES
          .col-sm-offset-1.col-sm-10
            .row
              .col-md-6.text-left.clearfix
                =image_tag "john_overhead_avatar.png", class: "avatar pull-left"
                %h4 John Giron
                %p Gym owner
                %p CrossFit Level I Trainer (CF-L1)
              .col-md-6.text-left.clearfix
                =image_tag "jeff_fs_avatar.png", class: "avatar pull-left"
                %h4 Jeff Gerlach
                %p CrossFit Level I Trainer (CF-L1)
              .col-md-6.text-left.clearfix
                =image_tag "meagan_ohs_avatar.png", class: "avatar pull-left"
                %h4 Meagan Crews
                %p CrossFit Level I Trainer (CF-L1)
              .col-md-6.text-left
                =image_tag "gerald_avatar.jpg", class: "avatar pull-left"
                %h4 Gerald Braden
                %p CrossFit Level I Trainer (CF-L1)

%section.divider
  .container
    .row.text-center
      .col-sm-offset-1.col-sm-10
        %hr


%section#schedule
  .container
    .row 
      .col-sm-8.col-sm-offset-2
        .row.text-center
          .col-sm-10.col-sm-offset-1
          %h2 CLASS TIMES
          .table-responsive
            %table.table
              %tr
                %th
                %th Morning
                %th Evening
              %tr
                %td{:rowspan=>"2"} 
                  %b Monday
                %td{:rowspan=>"2"} 
                  %p 5:00 AM
                %td{:rowspan=>"2"} 
                  %p 5:30 PM
                  %p 6:30 PM
              %tr
              %tr
                %td{:rowspan=>"2"} 
                  %b Tuesday
                %td{:rowspan=>"2"} 
                  %p 5:00 AM
                  %p 6:00 AM
                %td{:rowspan=>"2"} 
                  %p 5:30 PM
                  %p 6:30 PM
              %tr
              %tr
                %td{:rowspan=>"2"} 
                  %b Wednesday
                %td{:rowspan=>"2"} 
                  %p 5:00 AM
                %td{:rowspan=>"2"} 
                  %p 5:30 PM
                  %p 6:30 PM
              %tr
              %tr
                %td{:rowspan=>"2"} 
                  %b Thursday
                %td{:rowspan=>"2"} 
                  %p 5:00 AM
                  %p 6:00 AM
                %td{:rowspan=>"2"} 
                  %p 5:30 PM
                  %p 6:30 PM
              %tr
              %tr
                %td{:rowspan=>"2"} 
                  %b Friday
                %td{:rowspan=>"2"} 
                  %p 5:00 AM
                %td{:rowspan=>"2"} 
                  %p 5:30 PM
          %hr

%section#pricing
  .container
    .row.text-center
      %h2 PRICING
      .col-md-4.text-center
        .panel.panel-success.panel-pricing
          .panel-heading
            %i.fa
            %h3 Punch Card
          .panel-body.text-center
            %p
              %strong $100/card
          %ul.list-group.text-center
            %li.list-group-item
              %i.fa.fa-check Good for 10 Classes
            %li.list-group-item
              %i.fa.fa-check Military/Student Discount Available
            %li.list-group-item
              %i.fa.fa-check Family Plan Available
            %li.list-group-item
              %i.fa.fa-check No Expiration
          .panel-footer
            %a.btn.btn-lg.btn-block.btn-success{:href=>"#pricing"} SIGN UP!
      .col-md-4.text-center
        .panel.panel-success.panel-pricing
          .panel-heading
            %i.fa
            %h3 Monthly Membership
          .panel-body.text-center
            %p
              %strong $120/month
          %ul.list-group.text-center
            %li.list-group-item
              %i.fa.fa-check 2 Month Commitment
            %li.list-group-item
              %i.fa.fa-check Military/Student Discount Available
            %li.list-group-item
              %i.fa.fa-check Family Plan Available
            %li.list-group-item
              %i.fa.fa-check Auto-pay Available
          .panel-footer
            %a.btn.btn-lg.btn-block.btn-success{:href=>"#pricing"} SIGN UP!
      .col-md-4.text-center
        .panel.panel-success.panel-pricing
          .panel-heading
            %i.fa
            %h3 Yearly Membership
          .panel-body.text-center
            %p
              %strong $1000/year
          %ul.list-group.text-center
            %li.list-group-item
              %i.fa.fa-check 20% savings!
            %li.list-group-item
              %i.fa.fa-check Military/Student Discount Available
            %li.list-group-item
              %i.fa.fa-check Family Plan Available
            %li.list-group-item
              %i.fa.fa-check Best Value!
          .panel-footer
            %a.btn.btn-lg.btn-block.btn-success{:href=>"#pricing"} SIGN UP!

%section#location
  .container
    .row 
      .col-sm-8.col-sm-offset-2
        .row.text-center
          .col-sm-10.col-sm-offset-1
          %h2 LOCATION
          .Flexible-container
            %iframe{:width => "425", :height=>"350", :frameborder=>"0", :scrolling=>"no", :marginheight=>"0", :marginwidth=>"0", :src=>"https://www.google.com/maps/embed/v1/place?q=place_id:ChIJH5woqv82E4cRZ7Rwh4-vP3c&key=AIzaSyAr-nhsQUVlriaJNEBFa7Jt3VA_3WYpk44"}
          %hr

%section#contact
  .container
    .row 
      .col-sm-8.col-sm-offset-2
        .row.text-center
          .col-sm-10.col-sm-offset-1
          %h2 CONTACT US
          %h4 (805) 748-8480
          = mail_to "cfr@crossfitrocky.com", nil, :class => "email-link"
          %hr
          %h3 FIND US ON FACEBOOK
          = link_to "http://www.facebook.com/crossfitrocky", :target => "_blank" do
            =image_tag "facebook.png"
