//-----------------------------------------
// Variables, customize bootstrap here
//-----------------------------------------
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300);
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

$red: #CD6363;
$cfr-green: #62EA30;
$cfr-blue: #002447;
$cfr-blue-rgba: rgba(0, 36, 71, 1.0);
$font-family-sans-serif: "Roboto";
$headings-font-weight: 100;
$font-size-base: 14px;
$font-size-h2: floor(($font-size-base * 2.5));

$navbar-height: 100px;
$navbar-inverse-bg: $cfr-blue-rgba;
$navbar-inverse-link-color: $cfr-green;
$navbar-inverse-link-active-bg: $cfr-blue-rgba;
$navbar-inverse-toggle-border-color: rgb(255,255,255);
$navbar-inverse-toggle-icon-bar-bg: rgba(255,255,255, 0.9);
$navbar-inverse-toggle-hover-bg: $red;
$navbar-inverse-link-hover-color: $red;
$navbar-inverse-link-active-color: $red;

$jumbotron-bg: rgb(255,255,255);
$border-color: #CCC;

$carousel-indicator-background: rgba(255, 0, 0, 0.2);
$carousel-indicator-border: 1px solid black;

$input-bg: rgba(255,0,0,0.1);
$input-border: rgb(0,0,0);
$form-submit-hover: rgba(0,0,0,0.1);
$submit-button-color: rgb(0,0,0);
$submit-border-color: rgb(0,0,0);
$submit-button-background: transparent;

$btn-primary-color: $cfr-green;
$btn-primary-bg: $cfr-blue;

// Color Palate

@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  margin-top: $navbar-height;
  position: relative;
}

/* Gradient transparent - color - transparent */

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.bottom-border {
  border-bottom: 1px solid $border-color;
}

.logo img{
  width: 90px;
  height: 70px;
  margin-top: 15px;
  margin-left: 10px;
}

.hero {
  margin-top: 50px;
  margin-bottom: -55px;
}

h4 {
  font-weight: 300;
  color: $red;
}

h2 {
  margin-bottom: 80px;
}

#contact h1 {
  color: $red;
  margin-bottom: 40px;
}

section {
  margin-top: 40px;
  margin-bottom: 40px;
}

#about {
  img {
    margin: 0 auto;
  }
}

.avatar {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.carousel-indicators {
  bottom: 0;
  li {
    border: $carousel-indicator-border;
    background: $carousel-indicator-background;
  }
}

form .btn {
  background: $submit-button-background;
  color: $submit-button-color;
  input {
    border-color: $submit-border-color;
    &:hover {
      background: $form-submit-hover;
      color: black;
    }
  }
}

.clear {
   clear: both;
}

footer {
  height: 75px;
  background-color: $cfr-blue;
  padding-top: 20px;
  .copyright{
    color: $cfr-green;
    }
}

$bgDefault      : #002447;
$bgHighlight    : #002447;
$colDefault     : #62ea30;
$colHighlight   : #cd6363;
$dropDown       : true;
.navbar-inverse {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus { 
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            color: $colDefault;
            &:hover,  &:focus {
              color: $colHighlight;
              background-color: $bgHighlight; }}
          .divider {
            background-color: $bgHighlight;}}}
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

/* Flexible iFrame */

.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#wod {
  h2 {
    margin-top: -10px;
    margin-bottom: 20px;
  }
  .for-wod{
    background: lighten(#000, 93.5%);
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

#schedule {
  table, th, td {
    text-align: center;
  }
}

#location {

}

#contact {
  h2 {
    margin-bottom: 35px;
  }
  h4 {
    color: $red;
    padding: 5px;
  }
  .email-link {
    font-size: 14pt;
    color: $red;
  }
}

.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.panel-pricing .panel-heading {
  padding: 20px 10px;
}
.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px;
}
.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px;
  ul {
    padding: 0px;
    font-size: 20px;
    margin: 0px;
    margin-bottom: -5px;
  }
}

#pricing {
  .row {
    margin-bottom: 30px;
  }
}
